@media (min-width: 501px) {
    .hide-lg { display: none !important; }
}

@media (max-width: 600px) {
    .hide-sm { display: none !important; }
    a.profile-link {
	padding: 0;
    }

    nav {
	padding: 20px 5px;

    }

    nav a.btn.btn-small.btn-red {
	top: -16px;
    }

    h1 {
	font-size: 1.2em;
    }

    form.search-form input {
	width: 100%;
    }

    input[type=date], input[type=number], input[type=text], input[type=email], input[type=url], select, textarea {
	padding: 2px 4px;
    }

    .post-item {
	padding: 0;
    }
}

@media (max-width: 400px) {
    .hide-xs { display: none !important; }
    .MDEditor_toolbarButton {
        width: 38px;
        height: 30px;
        padding: 6px 3px;
    }
    a.profile-link {
        padding: 0;
    }

    nav {
        text-align: center;
        padding-bottom: 75px;
    }

    nav .float-left {
        float: none;
    }

    span.auth-buttons.float-right {
        display: block;
        position: absolute;
        top: 50px;
        left: 50%;
        margin-left: -60px;
    }

    span.auth-buttons.float-left {
        display: block;
        padding-bottom: 12px;
    }
}
@media (max-width: 460px) {
    span.auth-buttons.float-left {
        font-size: 12px;
        margin-top: 3px;
    }
    .btn.btn-small {
        font-size: 10px;
    }

    .btn.btn-small {
        position: relative;
        top: 3px;
    }
}

@media (min-width: 400px) {
    .topic-single .post-item {
        left: -60px;
        width: calc(100% + 60px);
    }
}


footer .bag {
    position: relative;
}

.bloggify-logo {
    font-size: 2em;
    position: absolute;
    bottom: 0;
    right: 20px;
}

.bloggify-logo a {
    text-decoration: none;
}
